<div>
  <div class="dahsboard-header">
    <h1>Hello {{userName}}!</h1>
    <h2>We are on a mission to help take actions against climate change.</h2>
  </div>
  <div class="dashboard-wrapper container pl-20 pr-20">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <countries-map class="demo-maps" [data]="mapData1" maxColor='#046312' countryLabel="ICAT Transport Tool"
            minColor="blue" backgroundColor='white' [showCaption]="false" [captionBelow]="false"
            (chartSelect)="selectedCountry($event)">
          </countries-map>

        </div>
        <div>
          <p-dialog  [(visible)]="displayPosition" [style]="{width: '25vw'}">
            <ng-container *ngIf="selectedCountryCode != null; else elseBlock1 ">
              <div class="row p-2">
                <label for="countryname" readonly>
                  <b>{{selectedMapCountry?.name}}</b>
                </label>
                <div class="col-12 col-md-6">

                  <img src="{{selectedMapCountry?.flagPath}}" style="height: 15px; width: 30px;">

                </div>
              </div>


              <div class="row p-2">
                <div class="col-12 col-md-6">
                  <label for="registeredDate" readonly>
                    <b>Registered Date</b>
                  </label>
                </div>
                <div class="col-12 col-md-6">
                  <p>{{selectedMapCountry?.registeredDate | date: "yyyy-MM-dd "}}</p>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-12 col-md-6">
                  <label for="isMember" readonly>
                    <b>Sectors</b>
                  </label>
                </div>
                <div class="col-12 col-md-6">
                  <p>Transport</p>
                </div>
              </div>


            </ng-container>
            <ng-template #elseBlock1>
              <h6>Not a Registered Country</h6>
            </ng-template>


          </p-dialog>

        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <h5>Users of the tool</h5>
            <p-chart type="bar" width="500" [data]="basicData" [options]="horizontalOptions"></p-chart>

          </div>
        </div>
      </div>


      <div class="row">
     
      </div>

      




      




    </div>
  </div>
</div>