<section class="bg-page bg-login flex-grow-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 login-content-wrapper">
        <div class="login-inner">
          <h4>Reset Your Password</h4>
          <p class="mb-35">Enter details below to <span class="text-info font-weight-bold">reset the password</span> of your account.</p>

          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
              <div class="p-field col-12 col-md-8">
                <label class="font-weight-bold">Email</label>
                <span class="p-input-icon-right" style="width: 400px">
                  <input
                    id="email"
                    pInputText
                    formControlName="email"
                    type="email"
                    placeholder="Email"
                    class="form-control">
                </span>
              </div>
              <p class="info-message text-danger" *ngIf="emailControl.hasError('required') && emailControl.touched">
                Email is required
              </p>
            </div>
            <div class="form-group">
              <div class="p-field col-12 col-md-8">
                <label class="font-weight-bold">New Password</label>
                <span class="p-input-icon-right" style="width: 400px">
                  <i [class]="passwordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'" class="pass-icon" (click)="togglePasswordVisibility('password')"></i>
                  <input
                    id="password"
                    pInputText
                    formControlName="password"
                    [type]="passwordVisible ? 'text' : 'password'"
                    placeholder="New Password"
                    class="form-control">
                </span>
              </div>
              <p class="info-message text-danger" *ngIf="passwordControl.hasError('pattern') && passwordControl.touched">
                Password must contain at least 8 characters, 1 upper case letter, 1 number, and 1 special character
              </p>
              <p class="info-message text-danger" *ngIf="passwordControl.hasError('required') && passwordControl.touched">
                Password is required
              </p>
            </div>

            <div class="form-group">
              <div class="p-field col-12 col-md-8">
                <label class="font-weight-bold">Confirm Password</label>
                <span class="p-input-icon-right" style="width: 400px">
                  <i [class]="confirmPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'" class="pass-icon" (click)="togglePasswordVisibility('confirmPassword')"></i>
                  <input
                    pInputText
                    formControlName="confirmPassword"
                    [type]="confirmPasswordVisible ? 'text' : 'password'"
                    placeholder="Confirm Password"
                    class="form-control">
                </span>
              </div>
              <p class="info-message text-danger" *ngIf="confirmPasswordControl.hasError('required') && confirmPasswordControl.touched">
                Confirm password is required
              </p>
              <p class="info-message text-danger" *ngIf="resetPasswordForm.hasError('passwordMismatch') && confirmPasswordControl.touched">
                Passwords do not match
              </p>
            </div>

            <button
              type="submit"
              class="btn btn-primary btn-block text-uppercase btn-lg mt-35"
              [disabled]="resetPasswordForm.invalid || isLoading">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<p-dialog header=" " [(visible)]="isSuccessful">
  <div class="text-center pr-30 pl-30 mw-460">
    <img class="mb-20" src="../../../../assets/images/confirm-icon.jpg" />
    <h6 class="mb-20">Success</h6>
    <p>Your password has been reset successfully.</p>
    <button class="btn btn-primary mt-15" (click)="gotoLogin()">LOGIN</button>
  </div>
</p-dialog>

<p-dialog header=" " [(visible)]="isErrorPopup">
  <div class="text-center pr-30 pl-30 mw-460">
    <img class="mb-20" src="../../../../assets/images/error-image.png" />
    <h5 class="text-danger-light">Oops</h5>
    <h6 class="mb-20 text-danger-light">Something went wrong</h6>
    <p>{{ errorMessage || 'Please try again.' }}</p>
    <button class="btn btn-primary mt-15" (click)="isErrorPopup = false">Close</button>
  </div>
</p-dialog>

<p-dialog header=" " [(visible)]="isExpiredPopup">
  <div class="text-center pr-30 pl-30 mw-460">
    <img class="mb-20" src="../../../../assets/images/error-image.png" />
    <h5 class="text-warning">Code Expired</h5>
    <h6 class="mb-20 text-warning">Your activation code has expired</h6>
    <p>Activation codes are valid for 72 hours. Please request a new code to continue.</p>
    <div class="mt-20">
      <button class="btn btn-primary mr-10" (click)="resendActivationCode()">Request New Code</button>
      <button class="btn btn-secondary" (click)="closeExpiredPopup()">Close</button>
    </div>
  </div>
</p-dialog>

<p-dialog header=" " [(visible)]="isResendSuccess">
  <div class="text-center pr-30 pl-30 mw-460">
    <img class="mb-20" src="../../../../assets/images/confirm-icon.jpg" />
    <h6 class="mb-20">New Code Sent!</h6>
    <p>A new activation code has been sent to your email address. Please check your inbox and enter the new code.</p>
    <button class="btn btn-primary mt-15" (click)="closeResendSuccessPopup()">OK</button>
  </div>
</p-dialog>
